.forms {
  width: 100%;
  height: 100%;
  grid-column: 2 / 6;
  grid-row: 2/ 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form,
#todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form > h1,
#todo-form > h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 5px;
}

#login-form > input,
#todo-form > input {
  height: 50px;
  border: none;
  width: 60%;
  background-color: transparent;
  font-size: 52px;
  border-bottom: solid 3px white;
  text-align: center;
}

#login-form > input::placeholder {
  color: white;
  font-size: 52px;
}

#login-form > input:focus,
#todo-form > input:focus {
  color: white;
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#todo-list > li {
  font-size: 24px;
  font-family: "Sriracha", cursive;
  margin-bottom: 15px;
  font-weight: 200;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .forms {
    margin-left: 50px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }

  #login-form > h1,
  #todo-form > h1 {
    font-size: 30px;
    margin-bottom: 5px;
  }

  #login-form > input,
  #todo-form > input {
    height: 50px;
    border: none;
    width: 60%;
    font-size: 30px;
    border-bottom: solid 3px white;
  }

  #login-form > input::placeholder {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .forms {
    margin-left: 50px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }

  #login-form > h1,
  #todo-form > h1 {
    font-size: 17px;
    margin-bottom: 2px;
  }

  #login-form > input,
  #todo-form > input {
    height: 50px;
    border: none;
    width: 100%;
    font-size: 17px;
    border-bottom: solid 2px white;
  }

  #login-form > input::placeholder {
    font-size: 17px;
  }
}
